body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#mapa{
	height: 400px;
}
.address{
	cursor: pointer;
<<<<<<< HEAD
=======
}
<<<<<<< HEAD
.mapaFijo{
	position: fixed;
>>>>>>> 94fd23e09fdf4b877699e1411cca20dbbea28629
}
=======
>>>>>>> ad9c3bbb0109e1fced648431d26196c74dd1e572
